/* CSS Document */
body {
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	color: GoldenRod;
}

img.bg {
    min-height: 1000px;
    min-width: 1280px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-9999;
}

/* TITOLO */
.title {
	text-align: center;
	font-size: 50px;
}

/* MENU */
.menu {
  transition: margin-left .5s;
  padding: 16px;
}

.openbar {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 1;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbar:hover {
  background-color: #444;
}

.sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: white;
  background-color: transparent;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.subnav_prodotti .subnavbtn_prodotti {
    font-family: "Times New Roman", Times, serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    background: transparent;
    display: block;
    transition: 0.3s;
    border: none;
}

.subnav_prodotti-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 1;
}

.subnav_prodotti-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav_prodotti-content a:hover {
    background-color: #f1f1f1;
    color: black;
}

.subnav_prodotti:hover .subnav_prodotti-content {
    display: block;
}

/* INDEX */
.sub_title {
	position: absolute;
	top: 100px;
	left: -10px;
	background: GoldenRod;
	color: black;
	text-align: center;
	font-size: 25px;
	padding: 14px 40px;
	border-radius: 12px;
}

.box_table_index {
	background-color: white;
	position: absolute;
	top: 150px;
    left: 27%;
	width: 600px;
	border: 10px solid GoldenRod;
	opacity: 0.9;
	padding: 30px;
	margin: 20px;
}

.text_time {
	font-size: 15px;
	color: black;	
}

.text_service {
	font-size: 20px;
	color: black;	
}

.text_price {
	font-size: 20px;
	color: black;	
	text-align: right;
}

/* BOTTONE PER CHIAMARE */
.text_chiama {
    position: absolute;
    bottom: 140px;
    left: 600px;
    background: GoldenRod;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 20px;
}

.button_call i {
    position: absolute;
    left: 830px;
    bottom: 135px;
    cursor: pointer;
}
.button_call a {
    font-size: 50px;
    text-decoration: none;
    color: transparent;
    position: absolute;
    left: 830px;
    bottom: 135px;
}

/* ORARI */
.box_table_orari {
    background-color: white;
    position: absolute;
    left: 26%;
    top: 22%;
    width: 500px;
    border: 10px solid GoldenRod;
    opacity: 0.9;
    padding: 40px;
    margin: 20px;
}

.text_table_orari{
	width:100%;
	font-size: 20px;
	color: black;
}

.sub_title_day_lun {
	position: absolute;
	top: 30px;
	left: 20px;
	background: #D0D0D0;
	color: white;
	text-align: center;
	font-size: 23px;
	padding: 10px 20px;
	border-radius: 20px;
}

.sub_title_day_mar {
	position: absolute;
	top: 80px;
	left: 20px;
	background: GoldenRod;
	color: black;
	text-align: center;
	font-size: 23px;
	padding: 10px 20px;
	border-radius: 20px;
}

.sub_title_day_mer {
    position: absolute;
    top: 130px;
    left: 20px;
    background: GoldenRod;
    color: black;
    text-align: center;
    font-size: 23px;
    padding: 10px 20px;
    border-radius: 20px;
}

.sub_title_day_gio {
	position: absolute;
	top: 180px;
	left: 20px;
	background: GoldenRod;
	color: black;
	text-align: center;
	font-size: 23px;
	padding: 10px 20px;
	border-radius: 20px;
}

.sub_title_day_ven {
	position: absolute;
	top: 230px;
	left: 20px;
	background: GoldenRod;
	color: black;
	text-align: center;
	font-size: 23px;
	padding: 10px 20px;
	border-radius: 20px;
}

.sub_title_day_sab {
	position: absolute;
	top: 280px;
	left: 20px;
	background: GoldenRod;
	color: black;
	text-align: center;
	font-size: 23px;
	padding: 10px 20px;
	border-radius: 20px;
}

.sub_title_day_dom {
    position: absolute;
    top: 330px;
    left: 20px;
    background: #D0D0D0;
    color: white;
    text-align: center;
    font-size: 23px;
    padding: 10px 20px;
    border-radius: 20px;
}

/* COLLABORAZIONE */
.box_table_collaborazione {
    background-color: white;
    position: absolute;
    top: 10%;
    left: 23%;
    width: 600px;
    border: 10px solid GoldenRod;
    opacity: 0.9;
    padding: 40px;
    margin: 20px;
}

.box_table_collaborazione a {
    color: black;
    font-size: 20px;
}

.form {
    font-family: Arial, Helvetica, sans-serif;
}

label, input[type=text], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
}
input[type=text], textarea {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}

/* PRODOTTI */
#griglia {
    padding: 0;
    margin: 0;
}

.button_apri {
    background-color: GoldenRod;
    color: white;
}

.text_info {
    position: absolute;
    left:46%;
    bottom: 7%;
    background: GoldenRod;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 20px;
}

.button_call_prod i {
    position: absolute;
    left: 750px;
    bottom: 43px;
    cursor: pointer;
}
.button_call_prod a {
    font-size: 50px;
    text-decoration: none;
    color: transparent;
    position: absolute;
    left: 750px;
    bottom: 43px;
}

/* COD 01 */
.container_01 {
    text-align: center;
    width: 20%;
    position: absolute;
    left: 2%;
    border:3px solid GoldenRod;
    padding-top:10px;
    padding-bottom:10px;
    background-color: white;
}

.container_01 p {
    color: black;
}

.container_01 a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.container_01 a:hover {
    background-color: #ddd;
    color: black;
}

/* COD 02 */
.container_02 {
    text-align: center;
    width: 20%;
    position: absolute;
    left: 27%;
    border:3px solid GoldenRod;
    padding-top:10px;
    padding-bottom:10px;
    background-color: white;
}

.container_02 p {
    color: black;
}

.container_02 a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.container_02 a:hover {
    background-color: #ddd;
    color: black;
}

/* COD 03 */
.container_03 {
    text-align: center;
    width: 20%;
    position: absolute;
    left: 52%;
    border:3px solid GoldenRod;
    padding-top:10px;
    padding-bottom:10px;
    background-color: white;
}

.container_03 p {
    color: black;
}

.container_03 a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.container_03 a:hover {
    background-color: #ddd;
    color: black;
}

/* COD 04 */
.container_04 {
    text-align: center;
    width: 20%;
    position: absolute;
    left: 77%;
    border:3px solid GoldenRod;
    padding-top:10px;
    padding-bottom:10px;
    background-color: white;
}

.container_04 p {
    color: black;
}

.container_04 a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.container_04 a:hover {
    background-color: #ddd;
    color: black;
}

/* DESCRIZIONE PRODOTTI */
.box_table_prodotti {
    background-color: white;
    position: absolute;
    top: 23%;
    left: 23%;
    width: 600px;
    border: 10px solid GoldenRod;
    opacity: 0.9;
    padding: 40px;
    margin: 20px;
}

.text_table_prodotti{
    font-size: 18px;
    color: black;
}

.zoom_img {
    padding: 30px;
    background-color: transparent;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom_img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.botton_back a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.botton_back a:hover {
    background-color: #ddd;
    color: black;
}

.back {
    background-color: GoldenRod;
    color: white;
}


/* CONTATTI */
.box_table_contatti {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 23%;
    width: 600px;
    border: 10px solid GoldenRod;
    opacity: 0.9;
    padding: 40px;
    margin: 20px;
}

.contatti {
    width:100%;
    font-size: 20px;
    color: black;
}